﻿<h3>Kitap Ekleme Sayfası</h3>

<form action="/Kitap/Ekle" method="post">
    <label for="Ad">Ad</label>
    <input type="text" name="Ad" />
    <label for="Stok">Stok</label>
    <input type="text" name="Stok" />

    <button>Kaydet</button>
</form>